
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;

}

.header {
  background-color: #00559D;
  height: 90px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  padding-left: 150px;
  padding-top: 10px;
}

.content {
  flex: auto;
  text-align: left;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
  max-width: 1000px;
  font-family: Helvetica, sans-serif;
}


.footer {
  background-color: #00559D;
  height: auto;
  padding-top: 30px;
  padding-left: 150px;
  padding-bottom: 30px;
  color: white;
}

h1 {
  font-family: Helvetica, sans-serif;
  height: 25px;
  color: white;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-style: bold;
  font-size: medium;
}

label {
  margin-top: .33em;
  display: block;
}

